.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-wrapper {
    margin-top: 30px;   
}

.users-controls-buttons {
    margin: 30px;   
}



.profile-container label {
    display: block;
    margin-bottom: 10px;
}

.profile-container input[type="text"],
.profile-container input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #45a049;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.loading-text {
    font-size: 20px;
    color: #999;
}